<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner" verbose="1" thread-count="1" parallel="false">

    <tests>
        <test name="TestAndroid">
            <parameters>
                <parameter name="url" value="http://localhost:4723/wd/hub" />
        </parameters>

            <classes>
                <packages>
                    <package name="com.belatrix.connect.*"/>
                </packages>
            </classes>
        </test>
    </tests>
</suite>